body {margin: 0px; padding:0px; background-color: #e8e8e8}
.holder {margin: 0px; padding:0px; width:100%;}
.header {
	top:0px;
	background-color: #5f5f5f;
	height: 30px; line-height: 30px;
	width: 100%; 
	color:white; 
	text-align: center; vertical-align: middle;
}
/*.footer {position: fixed; bottom: 0px;background-color: #5f5f5f; height: 30px; width: 100%;}*/
.hlabel {float: left;}
.hbutton {float: right;}
.clear {clear:both; }
.container {padding:10px;}
.content {width: 100%;}
.create {text-align: center; vertical-align: middle}
.create p {font-size: 12px;}
a {text-decoration: none; color: white;}
.details {width: 100%}
.details a {color:blueviolet;}

.infotable {border-collapse: collapse; width: 100%; border: 1px solid black;}
.infotable th {height: 50px;}
.infotable td, .infotable th {border: 1px solid black;}
